node_modules
notas.txt
postgres-data
src/models/user.model-copy.ts
*.log
logs
.env
images/evidencias.txt
data/user.json

# ejemplos didácticos de tests con vitest
tests/examples/findOne.test.ts
tests/examples/sum.test.ts